* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  list-style-type:none;
}

body {
  margin: 5% 5%;
}

header {
  margin-bottom: 100px;
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

button {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
}

input {
  border: 1px solid black;
}

.big-main {
  display: flex;
  justify-content: space-between;
  margin-right: 40%;
  margin-left: 10%;
}

.scores {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.scores-main {
  display: flex;
  column-gap: 10px;
}

.scores-list {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

form > .form-button {
  padding: 5px;
  align-self: flex-end;
  cursor: pointer;
}
