* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  list-style-type: none;
}

body {
  margin: 5% 5%;
  background-color: rgb(238, 234, 234);
}

header {
  margin-bottom: 100px;
  font-size: 28px;
}

h2 {
  font-size: 34px;
}

button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  background-color: green;
  color: white;
  padding: 0 5px;
}

input {
  border: 1px solid rgb(200, 200, 255);
  border-radius: 4px;
  background-color: rgb(218, 232, 241);
  padding: 5px;
}

.big-main {
  display: flex;
  justify-content: space-evenly;
}

.scores {
  width: 40%;
}

.scores-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.scores-list {
  height: 50vh;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-shadow:
    0 8px 10px lightgray,
    -10px 8px 15px lightgray,
    10px 8px 15px lightgray;
  padding: 3%;
}

li {
  padding: 1% 2%;
  font-weight: 600;
}

li:nth-child(2n+1) {
  background-color: rgb(215, 211, 211);
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

form > .form-button {
  padding: 5px;
  align-self: flex-end;
  cursor: pointer;
  background-color: blue;
  color: white;
}

@media (max-width: 700px) {
  
}
